@import "~assets/scss/_common";

header {
  @include grid(row);
  background: $brand-black;
  height: 92px;
}

.container {
  @include grid(column, 12);
  @include grid(row, null, align-middle);
}

.brand {
  @include grid(column, auto, align-bottom);
  @include grid(row);
  display: block;
  color: $brand-white;
  text-decoration: none;
}

.brand__heading {
  font-size: 0;
  margin-bottom: 20px;
  width: 128px;
  height: 28px;
  background: transparent url(~assets/img/nav-sprite.png) no-repeat -250px -15px;
}