<div class="container">
  <h2>Hello {{user.name.first}}</h2>
  <p>Please confirm your identity to continue.</p>
  <form (ngSubmit)="onFormSubmit(loginForm.value)" #loginForm="ngForm">
    <div>
      <input type="text" id="email" name="email" placeholder="Email" #email="ngModel" ngModel required>
    </div>
    <div [hidden]="email.valid || email.pristine">
      This field is required
    </div>
    <div>
      <input type="text" id="phone" name="phone" placeholder="Phone" #phone="ngModel" ngModel required>
    </div>
    <div [hidden]="phone.valid || phone.pristine">
      This field is required
    </div>
    <button type="submit" [disabled]="!loginForm.form.valid">Submit</button>
    <div *ngIf="authState == 1">
      Authorisation error: Incorrect email or phone
      <br><br>
      Demo hint:
      <ul>
        <li>{{user.email}}</li>
        <li>{{user.phone.replace("+", "")}}</li>
      </ul>
    </div>
  </form>
</div>