// breakpoints
$breakpoint-small: 320px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

// app-width, used for container element
$app-width: 1250px;

// font
$brand-font: "NeutraTextBook", "Helvetica Neue", Helvetica, Arial, sans-serif;
$brand-font-secondary: "ProximaNova-Regular","Helvetica Neue", Helvetica, Arial, sans-serif;
$brand-font-tertiary: Georgia, "Times New Roman", Times, serif;
$font-regular: 400;
$font-heavy: 700;  

// brand colours
$brand-black: #1d1d1d;
$brand-black--light: #383838;
$brand-white: #FFFFFF;
$brand-yellow: #E09D00;
$brand-grey--dark: #737373;
$brand-grey: #EDEDEA;
$brand-grey--light: #f2f2f0;
$brand-grey--dark: #969696;

// borders
$border: 1px solid $brand-grey--light;
$border--thick: 2px solid $brand-grey--light;
$border--dot: 2px dotted $brand-grey--light;
$border-radius: 4px;