<div class="container">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" [(ngModel)]="searchTerms" (keyup)="applySearchTerms()">
    </div>
  </form>
  <div *ngFor="let user of filteredUsers">
    <div>{{user.name.first}} {{user.name.last}}</div>
    <a [routerLink]="['profile', user.name.first.toLowerCase() + (user.name.last ? '-' : '') + user.name.last.toLowerCase()]">link</a>
    <div>{{user.email}}</div>
    <div>{{user.phone}}</div>
    --------------------------
    <div (click)="getReassignedUsers()">Assigned to: {{user.assignment.name.first}} {{user.assignment.name.last}}</div>
    --------------------------
  </div>
</div>